* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.inline-block-wrapper .header-container {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #335C67;
  height: 200px; }

.inline-block-wrapper .content-wrapper {
  font-size: 0;
  background: linear-gradient(90deg, #E56B6F 0 25%, #E09F3E 25% 75%, #9E2A2B 75% 100%); }

.inline-block-wrapper .left-sidebar {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 25%; }

.inline-block-wrapper .main-content {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 600px; }

.inline-block-wrapper .right-sidebar {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  width: 25%; }

.inline-block-wrapper .footer-container {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #540B0E;
  height: 200px; }

.flexbox-wrapper .header-container {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #335C67;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; }

.flexbox-wrapper .content-wrapper {
  display: flex;
  align-items: stretch; }

.flexbox-wrapper .left-sidebar {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #E56B6F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; }

.flexbox-wrapper .main-content {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #E09F3E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  flex: 2; }

.flexbox-wrapper .right-sidebar {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #9E2A2B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; }

.flexbox-wrapper .footer-container {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #540B0E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; }

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px auto 200px;
  grid-template-areas: "header header header" "left-sidebar content right-sidebar" "footer footer footer"; }
  .grid-wrapper .header-container {
    grid-area: header;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #335C67; }
  .grid-wrapper .left-sidebar {
    grid-area: left-sidebar;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #E56B6F; }
  .grid-wrapper .main-content {
    grid-area: content;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #E09F3E;
    height: 600px; }
  .grid-wrapper .right-sidebar {
    grid-area: right-sidebar;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #9E2A2B; }
  .grid-wrapper .footer-container {
    grid-area: footer;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #540B0E; }
