.flexbox-wrapper {
  .header-container {
    @include font-styles;
    @include center-content;
    background-color: $color-1;
    height: 200px;
  }

  .content-wrapper {
    display: flex;
    align-items: stretch;
  }

  .left-sidebar {
    @include font-styles;
    @include center-content;
    background-color: $color-2;
    flex: 1;
  }

  .main-content {
    @include font-styles;
    @include center-content;
    background-color: $color-3;
    height: 600px;
    flex: 2;
  }

  .right-sidebar {
    @include font-styles;
    @include center-content;
    background-color: $color-4;
    flex: 1;
  }

  .footer-container {
    @include font-styles;
    @include center-content;
    background-color: $color-5;
    height: 200px;
  }
}